In [1]:
# # # Recuerda no correr todo a menos que sea necesario
# # # Usa lo ya filtrado
#using Pkg; Pkg.add("CategoricalArrays")

In [1]:
using CSV, DataFrames, StatsBase, GLM, Random, CategoricalArrays

In [2]:
# Equivalente a set.seed
Random.seed!(99)

MersenneTwister(99)

In [3]:
# Base de datos del link https://www.inegi.org.mx/programas/ccpv/2020/default.html#Microdatos
# se tarda como 4 miutos en cargar

personas = CSV.read("Personas00.csv", DataFrame)

15015683×92 DataFrame
      Row │ ENT    MUN    LOC50K  ID_VIV        ID_PERSONA         COBERTURA   ⋯
          │ Int64  Int64  Int64   Int64         Int64              Int64       ⋯
──────────┼─────────────────────────────────────────────────────────────────────
        1 │     1      1       1   10010000001   1001000000100001          2   ⋯
        2 │     1      1       1   10010000001   1001000000100002          2
        3 │     1      1       1   10010000001   1001000000100003          2
        4 │     1      1       1   10010000002   1001000000200001          2
        5 │     1      1       1   10010000002   1001000000200002          2   ⋯
        6 │     1      1       1   10010000002   1001000000200003          2
        7 │     1      1       1   10010000002   1001000000200004          2
        8 │     1      1       1   10010000003   1001000000300001          2
        9 │     1      1       1   10010000004   1001000000400001          2   ⋯
       10 │     1      1       1   10010000004   1001000000400002          2
       11 │     1      1       1   10010000004   1001000000400003          2
    ⋮     │   ⋮      ⋮      ⋮          ⋮                ⋮              ⋮       ⋱
 15015674 │    32     58       0  320580000844  32058000084400005          1
 15015675 │    32     58       0  320580000844  32058000084400006          1   ⋯
 15015676 │    32     58       0  320580000845  32058000084500001          1
 15015677 │    32     58       0  320580000845  32058000084500002          1
 15015678 │    32     58       0  320580000846  32058000084600001          1
 15015679 │    32     58       0  320580000846  32058000084600002          1   ⋯
 15015680 │    32     58       0  320580000847  32058000084700001          1
 15015681 │    32     58       0  320580000848  32058000084800001          1
 15015682 │    32     58       0  320580000848  32058000084800002          1
 15015683 │    32     58       0  320580000848  32058000084800003          1   ⋯
                                            86 columns and 15015662 rows omitted

In [4]:
# Las columnas que estoy seleccionando para el ajuste
col_sel = ["ID_PERSONA","ENT","SEXO", "EDAD", "NIVACAD", "ALFABET", 
            "INGTRMEN","HORTRA", "CONACT", "SITTRA", "ENT_PAIS_TRAB",
        "AGUINALDO", "VACACIONES", "SERVICIO_MEDICO", "UTILIDADES", "INCAP_SUELDO", "SAR_AFORE", "CREDITO_VIVIENDA"]

18-element Vector{String}:
 "ID_PERSONA"
 "ENT"
 "SEXO"
 "EDAD"
 "NIVACAD"
 "ALFABET"
 "INGTRMEN"
 "HORTRA"
 "CONACT"
 "SITTRA"
 "ENT_PAIS_TRAB"
 "AGUINALDO"
 "VACACIONES"
 "SERVICIO_MEDICO"
 "UTILIDADES"
 "INCAP_SUELDO"
 "SAR_AFORE"
 "CREDITO_VIVIENDA"

In [5]:
# Selecciono solo las columnas que quiero
personas_filt = personas[:, col_sel]

15015683×18 DataFrame
      Row │ ID_PERSONA         ENT    SEXO   EDAD   NIVACAD  ALFABET  INGTRMEN ⋯
          │ Int64              Int64  Int64  Int64  Int64?   Int64?   Int64?   ⋯
──────────┼─────────────────────────────────────────────────────────────────────
        1 │  1001000000100001      1      3     55       11        1   missing ⋯
        2 │  1001000000100002      1      1     18        0        3   missing
        3 │  1001000000100003      1      1     21       11        1   missing
        4 │  1001000000200001      1      1     45       11        1     21500
        5 │  1001000000200002      1      3     42       11        1      8600 ⋯
        6 │  1001000000200003      1      3     20       11        1   missing
        7 │  1001000000200004      1      1     10        2        1   missing
        8 │  1001000000300001      1      1     60       11        1     20000
        9 │  1001000000400001      1      1     62       13        1     30000 ⋯
       10 │  1001000000400002      1      1     32       11        1      4000
       11 │  1001000000400003      1      3     54       13        1     32000
    ⋮     │         ⋮            ⋮      ⋮      ⋮       ⋮        ⋮        ⋮     ⋱
 15015674 │ 32058000084400005     32      3      3        0  missing   missing
 15015675 │ 32058000084400006     32      3      5        1        3   missing ⋯
 15015676 │ 32058000084500001     32      3     83        3        1   missing
 15015677 │ 32058000084500002     32      1     50       11        1         0
 15015678 │ 32058000084600001     32      1     50        3        1      3440
 15015679 │ 32058000084600002     32      3     49        4        1   missing ⋯
 15015680 │ 32058000084700001     32      1     28        4        1      6450
 15015681 │ 32058000084800001     32      3     13        3        1   missing
 15015682 │ 32058000084800002     32      3     21        3        1   missing
 15015683 │ 32058000084800003     32      1     38        3        1      5000 ⋯
                                            11 columns and 15015662 rows omitted

In [6]:
# Es momento de filtrar

# Primero filtramos con las personas que actually trabajan porque son las que nos importan
cond_act = [10, 13, 14, 15, 16, 17, 18, 19, 20]
personas_filt = subset(personas_filt, :CONACT => ByRow(in(cond_act)), skipmissing = true)

# Este filtro se queda porque es menor que 
# Este es para entidad de trabajo
personas_filt = subset(personas_filt, :ENT_PAIS_TRAB => ByRow(<(33)), skipmissing = true)
# y este es para entidad de vivienda
personas_filt = subset(personas_filt, :ENT => ByRow(<(33)), skipmissing = true)

# y este para las horas trabajadas
personas_filt = subset(personas_filt, :HORTRA => ByRow(!=(999)), skipmissing = true)

# y el ingreso ganado
personas_filt = subset(personas_filt, :INGTRMEN => ByRow(!=(999999)), skipmissing = true)

5500875×18 DataFrame
     Row │ ID_PERSONA         ENT    SEXO   EDAD   NIVACAD  ALFABET  INGTRMEN  ⋯
         │ Int64              Int64  Int64  Int64  Int64?   Int64?   Int64?    ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │  1001000000200001      1      1     45       11        1     21500  ⋯
       2 │  1001000000200002      1      3     42       11        1      8600
       3 │  1001000000300001      1      1     60       11        1     20000
       4 │  1001000000400001      1      1     62       13        1     30000
       5 │  1001000000400002      1      1     32       11        1      4000  ⋯
       6 │  1001000000400003      1      3     54       13        1     32000
       7 │  1001000000500001      1      1     52       11        1     25000
       8 │  1001000000600002      1      3     41       11        1     25000
       9 │  1001000000600003      1      1     40       11        1     25000  ⋯
      10 │  1001000000700001      1      1     28       11        1     40000
      11 │  1001000000800002      1      3     42       13        1     12000
    ⋮    │         ⋮            ⋮      ⋮      ⋮       ⋮        ⋮        ⋮      ⋱
 5500866 │ 32058000083500002     32      1     61       11        1      7740
 5500867 │ 32058000083500003     32      1     20        4        1      6450  ⋯
 5500868 │ 32058000083700002     32      1     53        2        1      4000
 5500869 │ 32058000083900004     32      1     46        3        1      5160
 5500870 │ 32058000084000005     32      1     37       11        1     10000
 5500871 │ 32058000084400004     32      1     30        3        1      1200  ⋯
 5500872 │ 32058000084500002     32      1     50       11        1         0
 5500873 │ 32058000084600001     32      1     50        3        1      3440
 5500874 │ 32058000084700001     32      1     28        4        1      6450
 5500875 │ 32058000084800003     32      1     38        3        1      5000  ⋯
                                             11 columns and 5500854 rows omitted

In [7]:
function diferente_a(dataframe, columna, condicion)
    dataframe = subset(dataframe, columna => ByRow(!=(condicion)), skipmissing = true)
    return dataframe
end

categorias_9 = ["SEXO", "AGUINALDO", "VACACIONES", "SERVICIO_MEDICO", "UTILIDADES", 
    "INCAP_SUELDO", "SAR_AFORE", "CREDITO_VIVIENDA", "ALFABET", "SITTRA"]

categorias_99 = ["NIVACAD"]

for i = 1:length(categorias_9)
    personas_filt = diferente_a(personas_filt, categorias_9[i], 9)
end

for i = 1:length(categorias_99)
    personas_filt = diferente_a(personas_filt, categorias_99[i], 99)
end

In [8]:
CSV.write("personas_filtradas.csv", personas_filt)

"personas_filtradas.csv"

In [9]:
data = CSV.read("personas_filtradas.csv", DataFrame)

3460365×18 DataFrame
     Row │ ID_PERSONA         ENT    SEXO   EDAD   NIVACAD  ALFABET  INGTRMEN  ⋯
         │ Int64              Int64  Int64  Int64  Int64    Int64    Int64     ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │  1001000000400001      1      1     62       13        1     30000  ⋯
       2 │  1001000000400002      1      1     32       11        1      4000
       3 │  1001000000400003      1      3     54       13        1     32000
       4 │  1001000000600002      1      3     41       11        1     25000
       5 │  1001000000700001      1      1     28       11        1     40000  ⋯
       6 │  1001000000800002      1      3     42       13        1     12000
       7 │  1001000000800003      1      1     42       13        1     16000
       8 │  1001000000900003      1      1     45       11        1     20000
       9 │  1001000001200005      1      3     43       13        1     20000  ⋯
      10 │  1001000001300003      1      3     65       11        1     17000
      11 │  1001000001400001      1      3     34       11        1     20000
    ⋮    │         ⋮            ⋮      ⋮      ⋮       ⋮        ⋮        ⋮      ⋱
 3460356 │ 32058000083000001     32      1     71        2        3      5160
 3460357 │ 32058000083000002     32      1     73        2        3      4300  ⋯
 3460358 │ 32058000083100001     32      1     75        2        3      6450
 3460359 │ 32058000083200002     32      1     37        3        1      2400
 3460360 │ 32058000083300003     32      1     40        3        1      2000
 3460361 │ 32058000083700002     32      1     53        2        1      4000  ⋯
 3460362 │ 32058000084000005     32      1     37       11        1     10000
 3460363 │ 32058000084400004     32      1     30        3        1      1200
 3460364 │ 32058000084600001     32      1     50        3        1      3440
 3460365 │ 32058000084800003     32      1     38        3        1      5000  ⋯
                                             11 columns and 3460344 rows omitted

In [10]:
# Vector con todas las categorias
vector_categorias = ["SEXO", "AGUINALDO", "VACACIONES", "SERVICIO_MEDICO", "UTILIDADES", 
    "INCAP_SUELDO", "SAR_AFORE", "CREDITO_VIVIENDA", "ALFABET", "NIVACAD", "ENT_PAIS_TRAB", 
    "ENT", "SITTRA"]

transform!(data, names(data, vector_categorias) .=> categorical, renamecols=false)

3460365×18 DataFrame
     Row │ ID_PERSONA         ENT   SEXO  EDAD   NIVACAD  ALFABET  INGTRMEN  H ⋯
         │ Int64              Cat…  Cat…  Int64  Cat…     Cat…     Int64     I ⋯
─────────┼──────────────────────────────────────────────────────────────────────
       1 │  1001000000400001  1     1        62  13       1           30000    ⋯
       2 │  1001000000400002  1     1        32  11       1            4000
       3 │  1001000000400003  1     3        54  13       1           32000
       4 │  1001000000600002  1     3        41  11       1           25000
       5 │  1001000000700001  1     1        28  11       1           40000    ⋯
       6 │  1001000000800002  1     3        42  13       1           12000
       7 │  1001000000800003  1     1        42  13       1           16000
       8 │  1001000000900003  1     1        45  11       1           20000
       9 │  1001000001200005  1     3        43  13       1           20000    ⋯
      10 │  1001000001300003  1     3        65  11       1           17000
      11 │  1001000001400001  1     3        34  11       1           20000
    ⋮    │         ⋮           ⋮     ⋮      ⋮       ⋮        ⋮        ⋮        ⋱
 3460356 │ 32058000083000001  32    1        71  2        3            5160
 3460357 │ 32058000083000002  32    1        73  2        3            4300    ⋯
 3460358 │ 32058000083100001  32    1        75  2        3            6450
 3460359 │ 32058000083200002  32    1        37  3        1            2400
 3460360 │ 32058000083300003  32    1        40  3        1            2000
 3460361 │ 32058000083700002  32    1        53  2        1            4000    ⋯
 3460362 │ 32058000084000005  32    1        37  11       1           10000
 3460363 │ 32058000084400004  32    1        30  3        1            1200
 3460364 │ 32058000084600001  32    1        50  3        1            3440
 3460365 │ 32058000084800003  32    1        38  3        1            5000    ⋯
                                             11 columns and 3460344 rows omitted

In [11]:
### FIT BASE ###
function fit5(cantidad_sample, nombre_facil)
    nombre_fit = "fit5"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit5 (generic function with 1 method)

In [12]:
# Fit 5
fit5(500, "500")
fit5(5000, "5mil")
fit5(50000, "50mil")
fit5(500000, "500mil")
fit5(2500000, "2500mil")

"res_2500mil_fit5.csv"

In [13]:
### FIT 6 ###
function fit6(cantidad_sample, nombre_facil)
    nombre_fit = "fit6"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB + SITTRA), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit6 (generic function with 1 method)

In [14]:
# Fit 6: Fit 5 + SITTRA
fit6(500, "500")
fit6(5000, "5mil")
fit6(50000, "50mil")
fit6(500000, "500mil")
fit6(2500000, "2500mil")

"res_2500mil_fit6.csv"

In [15]:
### FIT 7 ###
function fit7(cantidad_sample, nombre_facil)
    nombre_fit = "fit7"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB
            + SITTRA + ALFABET), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit7 (generic function with 1 method)

In [16]:
# Fit 7: Fit 5 + SITTRA + ALFABET
fit7(500, "500")
fit7(5000, "5mil")
fit7(50000, "50mil")
fit7(500000, "500mil")
fit7(2500000, "2500mil")

"res_2500mil_fit7.csv"

In [17]:
### FIT 8###
function fit8(cantidad_sample, nombre_facil)
    nombre_fit = "fit8"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB
            + SITTRA + ALFABET + AGUINALDO), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit8 (generic function with 1 method)

In [18]:
# Fit 8: Fit 5 + SITTRA + ALFABET + AGUINALDO
fit8(500, "500")
fit8(5000, "5mil")
fit8(50000, "50mil")
fit8(500000, "500mil")
fit8(2500000, "2500mil")

"res_2500mil_fit8.csv"

In [19]:
### FIT 9###
function fit9(cantidad_sample, nombre_facil)
    nombre_fit = "fit9"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB
            + SITTRA + ALFABET + AGUINALDO + VACACIONES), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit9 (generic function with 1 method)

In [20]:
# Fit 9: Fit 5 + SITTRA + ALFABET + AGUINALDO +VACACIONES
fit9(500, "500")
fit9(5000, "5mil")
fit9(50000, "50mil")
fit9(500000, "500mil")
fit9(2500000, "2500mil")

"res_2500mil_fit9.csv"

In [21]:
### FIT 10###
function fit10(cantidad_sample, nombre_facil)
    nombre_fit = "fit10"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB
            + SITTRA + ALFABET + AGUINALDO + VACACIONES + SERVICIO_MEDICO), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit10 (generic function with 1 method)

In [22]:
# Fit 10: Fit 5 + SITTRA + ALFABET + AGUINALDO + VACACIONES + SERVICIO_MEDICO
fit10(500, "500")
fit10(5000, "5mil")
fit10(50000, "50mil")
fit10(500000, "500mil")
fit10(2500000, "2500mil")

"res_2500mil_fit10.csv"