In [1]:
#using Pkg; Pkg.add("CategoricalArrays")

In [1]:
using CSV, DataFrames, StatsBase, GLM, Random, CategoricalArrays

In [39]:
# Equivalente a set.seed
Random.seed!(99)

MersenneTwister(99)

In [54]:
# Base de datos del link https://www.inegi.org.mx/programas/ccpv/2020/default.html#Microdatos
# se tarda como 4 miutos en cargar

personas = CSV.read("Personas00.csv", DataFrame)

LoadError: OutOfMemoryError()

In [55]:
# Las columnas que estoy seleccionando para el ajuste
col_sel = ["ID_PERSONA","ENT","SEXO", "EDAD", "NIVACAD", "ALFABET", 
            "INGTRMEN","HORTRA", "CONACT", "SITTRA", "ENT_PAIS_TRAB",
        "AGUINALDO", "VACACIONES", "SERVICIO_MEDICO", "UTILIDADES", "INCAP_SUELDO", "SAR_AFORE", "CREDITO_VIVIENDA"]

18-element Vector{String}:
 "ID_PERSONA"
 "ENT"
 "SEXO"
 "EDAD"
 "NIVACAD"
 "ALFABET"
 "INGTRMEN"
 "HORTRA"
 "CONACT"
 "SITTRA"
 "ENT_PAIS_TRAB"
 "AGUINALDO"
 "VACACIONES"
 "SERVICIO_MEDICO"
 "UTILIDADES"
 "INCAP_SUELDO"
 "SAR_AFORE"
 "CREDITO_VIVIENDA"

In [56]:
# Selecciono solo las columnas que quiero
personas_filt = personas[:, col_sel]

LoadError: OutOfMemoryError()

In [57]:
# Es momento de filtrar

# Primero filtramos con las personas que actually trabajan porque son las que nos importan
cond_act = [10, 13, 14, 15, 16, 17, 18, 19, 20]
personas_filt = subset(personas_filt, :CONACT => ByRow(in(cond_act)), skipmissing = true)

# Este filtro se queda porque es menor que 
# Este es para entidad de trabajo
personas_filt = subset(personas_filt, :ENT_PAIS_TRAB => ByRow(<(33)), skipmissing = true)
# y este es para entidad de vivienda
personas_filt = subset(personas_filt, :ENT => ByRow(<(33)), skipmissing = true)

# y este para las horas trabajadas
personas_filt = subset(personas_filt, :HORTRA => ByRow(!=(999)), skipmissing = true)

# y el ingreso ganado
personas_filt = subset(personas_filt, :INGTRMEN => ByRow(!=(999999)), skipmissing = true)

3460365Ã—18 DataFrame
     Row â”‚ ID_PERSONA         ENT    SEXO   EDAD   NIVACAD  ALFABET  INGTRMEN  â‹¯
         â”‚ Int64              Int64  Int64  Int64  Int64?   Int64?   Int64?    â‹¯
â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
       1 â”‚  1001000000400001      1      1     62       13        1     30000  â‹¯
       2 â”‚  1001000000400002      1      1     32       11        1      4000
       3 â”‚  1001000000400003      1      3     54       13        1     32000
       4 â”‚  1001000000600002      1      3     41       11        1     25000
       5 â”‚  1001000000700001      1      1     28       11        1     40000  â‹¯
       6 â”‚  1001000000800002      1      3     42       13        1     12000
       7 â”‚  1001000000800003      1      1     42       13        1     16000
       8 â”‚  1001000000900003      1      1     45       11        1     20000
       9 â”‚  1001000001200005      1      3     43       13        1     20000  â‹¯
      10 â”‚  1001000001300003      1      3     65       11        1     17000
      11 â”‚  1001000001400001      1      3     34       11        1     20000
    â‹®    â”‚         â‹®            â‹®      â‹®      â‹®       â‹®        â‹®        â‹®      â‹±
 3460356 â”‚ 32058000083000001     32      1     71        2        3      5160
 3460357 â”‚ 32058000083000002     32      1     73        2        3      4300  â‹¯
 3460358 â”‚ 32058000083100001     32      1     75        2        3      6450
 3460359 â”‚ 32058000083200002     32      1     37        3        1      2400
 3460360 â”‚ 32058000083300003     32      1     40        3        1      2000
 3460361 â”‚ 32058000083700002     32      1     53        2        1      4000  â‹¯
 3460362 â”‚ 32058000084000005     32      1     37       11        1     10000
 3460363 â”‚ 32058000084400004     32      1     30        3        1      1200
 3460364 â”‚ 32058000084600001     32      1     50        3        1      3440
 3460365 â”‚ 32058000084800003     32      1     38        3        1      5000  â‹¯
                                             11 columns and 3460344 rows omitted

In [58]:
function diferente_a(dataframe, columna, condicion)
    dataframe = subset(dataframe, columna => ByRow(!=(condicion)), skipmissing = true)
    return dataframe
end

categorias_9 = ["SEXO", "AGUINALDO", "VACACIONES", "SERVICIO_MEDICO", "UTILIDADES", 
    "INCAP_SUELDO", "SAR_AFORE", "CREDITO_VIVIENDA", "ALFABET", "SITTRA"]

categorias_99 = ["NIVACAD"]

for i = 1:length(categorias_9)
    personas_filt = diferente_a(personas_filt, categorias_9[i], 9)
end

for i = 1:length(categorias_99)
    personas_filt = diferente_a(personas_filt, categorias_99[i], 99)
end

In [59]:
CSV.write("personas_filtradas.csv", personas_filt)

"personas_filtradas.csv"

In [26]:
data = CSV.read("personas_filtradas.csv", DataFrame)

3460365Ã—18 DataFrame
     Row â”‚ ID_PERSONA         ENT    SEXO   EDAD   NIVACAD  ALFABET  INGTRMEN  â‹¯
         â”‚ Int64              Int64  Int64  Int64  Int64    Int64    Int64     â‹¯
â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
       1 â”‚  1001000000400001      1      1     62       13        1     30000  â‹¯
       2 â”‚  1001000000400002      1      1     32       11        1      4000
       3 â”‚  1001000000400003      1      3     54       13        1     32000
       4 â”‚  1001000000600002      1      3     41       11        1     25000
       5 â”‚  1001000000700001      1      1     28       11        1     40000  â‹¯
       6 â”‚  1001000000800002      1      3     42       13        1     12000
       7 â”‚  1001000000800003      1      1     42       13        1     16000
       8 â”‚  1001000000900003      1      1     45       11        1     20000
       9 â”‚  1001000001200005      1      3     43       13        1     20000  â‹¯
      10 â”‚  1001000001300003      1      3     65       11        1     17000
      11 â”‚  1001000001400001      1      3     34       11        1     20000
    â‹®    â”‚         â‹®            â‹®      â‹®      â‹®       â‹®        â‹®        â‹®      â‹±
 3460356 â”‚ 32058000083000001     32      1     71        2        3      5160
 3460357 â”‚ 32058000083000002     32      1     73        2        3      4300  â‹¯
 3460358 â”‚ 32058000083100001     32      1     75        2        3      6450
 3460359 â”‚ 32058000083200002     32      1     37        3        1      2400
 3460360 â”‚ 32058000083300003     32      1     40        3        1      2000
 3460361 â”‚ 32058000083700002     32      1     53        2        1      4000  â‹¯
 3460362 â”‚ 32058000084000005     32      1     37       11        1     10000
 3460363 â”‚ 32058000084400004     32      1     30        3        1      1200
 3460364 â”‚ 32058000084600001     32      1     50        3        1      3440
 3460365 â”‚ 32058000084800003     32      1     38        3        1      5000  â‹¯
                                             11 columns and 3460344 rows omitted

In [27]:
# Vector con todas las categorias
vector_categorias = ["SEXO", "AGUINALDO", "VACACIONES", "SERVICIO_MEDICO", "UTILIDADES", 
    "INCAP_SUELDO", "SAR_AFORE", "CREDITO_VIVIENDA", "ALFABET", "NIVACAD", "ENT_PAIS_TRAB", 
    "ENT", "SITTRA"]

transform!(data, names(data, vector_categorias) .=> categorical, renamecols=false)

3460365Ã—18 DataFrame
     Row â”‚ ID_PERSONA         ENT   SEXO  EDAD   NIVACAD  ALFABET  INGTRMEN  H â‹¯
         â”‚ Int64              Catâ€¦  Catâ€¦  Int64  Catâ€¦     Catâ€¦     Int64     I â‹¯
â”€â”€â”€â”€â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
       1 â”‚  1001000000400001  1     1        62  13       1           30000    â‹¯
       2 â”‚  1001000000400002  1     1        32  11       1            4000
       3 â”‚  1001000000400003  1     3        54  13       1           32000
       4 â”‚  1001000000600002  1     3        41  11       1           25000
       5 â”‚  1001000000700001  1     1        28  11       1           40000    â‹¯
       6 â”‚  1001000000800002  1     3        42  13       1           12000
       7 â”‚  1001000000800003  1     1        42  13       1           16000
       8 â”‚  1001000000900003  1     1        45  11       1           20000
       9 â”‚  1001000001200005  1     3        43  13       1           20000    â‹¯
      10 â”‚  1001000001300003  1     3        65  11       1           17000
      11 â”‚  1001000001400001  1     3        34  11       1           20000
    â‹®    â”‚         â‹®           â‹®     â‹®      â‹®       â‹®        â‹®        â‹®        â‹±
 3460356 â”‚ 32058000083000001  32    1        71  2        3            5160
 3460357 â”‚ 32058000083000002  32    1        73  2        3            4300    â‹¯
 3460358 â”‚ 32058000083100001  32    1        75  2        3            6450
 3460359 â”‚ 32058000083200002  32    1        37  3        1            2400
 3460360 â”‚ 32058000083300003  32    1        40  3        1            2000
 3460361 â”‚ 32058000083700002  32    1        53  2        1            4000    â‹¯
 3460362 â”‚ 32058000084000005  32    1        37  11       1           10000
 3460363 â”‚ 32058000084400004  32    1        30  3        1            1200
 3460364 â”‚ 32058000084600001  32    1        50  3        1            3440
 3460365 â”‚ 32058000084800003  32    1        38  3        1            5000    â‹¯
                                             11 columns and 3460344 rows omitted

In [40]:
### FIT BASE ###
function fit5(cantidad_sample, nombre_facil)
    nombre_fit = "fit5"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit5 (generic function with 1 method)

In [41]:
# Fit 5
fit5(500, "500")
fit5(5000, "5mil")
fit5(50000, "50mil")
fit5(500000, "500mil")

"res_500mil_fit5.csv"

In [42]:
### FIT 6 ###
function fit6(cantidad_sample, nombre_facil)
    nombre_fit = "fit6"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB + SITTRA), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit6 (generic function with 1 method)

In [43]:
# Fit 6: Fit 5 + SITTRA
fit6(500, "500")
fit6(5000, "5mil")
fit6(50000, "50mil")
fit6(500000, "500mil")

"res_500mil_fit6.csv"

In [44]:
### FIT 7 ###
function fit7(cantidad_sample, nombre_facil)
    nombre_fit = "fit7"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB
            + SITTRA + ALFABET), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit7 (generic function with 1 method)

In [45]:
# Fit 7: Fit 5 + SITTRA + ALFABET
fit7(500, "500")
fit7(5000, "5mil")
fit7(50000, "50mil")
fit7(500000, "500mil")

"res_500mil_fit7.csv"

In [46]:
### FIT 8###
function fit8(cantidad_sample, nombre_facil)
    nombre_fit = "fit8"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB
            + SITTRA + ALFABET + AGUINALDO), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit8 (generic function with 1 method)

In [47]:
# Fit 8: Fit 5 + SITTRA + ALFABET + AGUINALDO
fit8(500, "500")
fit8(5000, "5mil")
fit8(50000, "50mil")
fit8(500000, "500mil")

"res_500mil_fit8.csv"

In [49]:
### FIT 9###
function fit9(cantidad_sample, nombre_facil)
    nombre_fit = "fit9"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB
            + SITTRA + ALFABET + AGUINALDO + VACACIONES), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit9 (generic function with 1 method)

In [50]:
# Fit 9: Fit 5 + SITTRA + ALFABET + AGUINALDO +VACACIONES
fit9(500, "500")
fit9(5000, "5mil")
fit9(50000, "50mil")
fit9(500000, "500mil")

"res_500mil_fit9.csv"

In [51]:
### FIT 10###
function fit10(cantidad_sample, nombre_facil)
    nombre_fit = "fit10"
    
    sample_rows = sample(1:nrow(data), cantidad_sample, replace=false)

    df_sample = data[sample_rows, :]
    
    nombre_completo = nombre_facil*"_"*nombre_fit*".csv"
    # Guardamos el documentos para usarlo en R
    CSV.write(nombre_completo, df_sample)

    # Hacemos el fit
    sample_fit = lm(@formula(INGTRMEN ~ SEXO + EDAD + NIVACAD + HORTRA + ENT_PAIS_TRAB
            + SITTRA + ALFABET + AGUINALDO + VACACIONES + SERVICIO_MEDICO), df_sample)

    aux = "res_"
    nombre_completo = aux*nombre_completo
    CSV.write(nombre_completo, coeftable(sample_fit))
end

fit10 (generic function with 1 method)

In [52]:
# Fit 10: Fit 5 + SITTRA + ALFABET + AGUINALDO + VACACIONES + SERVICIO_MEDICO
fit10(500, "500")
fit10(5000, "5mil")
fit10(50000, "50mil")
fit10(500000, "500mil")

"res_500mil_fit10.csv"

LoadError: syntax: extra token "archive" after end of expression